<!DOCTYPE html>
<html>
 <head>                       
      <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
 </head>
 <body>
  PAGE
  <form method="post" action="/post.html">
    p1=<input type="text" name="p1">
    <input type="submit" value="post">
  </form>
  <form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
 </body>
</html>